* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navBar {
    height: 90px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1; 
   box-shadow: 0px 0px 5px 5px grey;
   justify-content: space-evenly;
   position: fixed; 
   z-index: 1;
   top:0;
}


.navBar .logo {
    height: 50px;
    width: 40px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.navBar .firstsec {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-left: 50px;
    color: red;
    font-size: 18px;
}

.navBar .firstsec p {
    line-height: 40px;
}

.firstsec p a {
  text-decoration: none;
  color: crimson;
}

.navBar .firstsec p:hover {
    border-bottom: 4px solid red;
    cursor: pointer;
}

.dropbtn {
    color: red;
    margin-bottom: 10px;
    background-color: white;
    border: transparent;
    font-size: 17px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(247, 37, 79);
    color: white;
    min-width: 180px;
    z-index: 1;
}

.dropdown-content p {
    color: white;
    padding: 3px;
    text-align: start;
}

.dropdown-content p:hover {
    opacity: 0.5;
    color: white;
    padding: 3px;
    background-color: lightgray;
    position: sticky;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn:hover {
    border-bottom: 4px solid red;
    cursor: pointer;
}

.navBar .secondsec{
    margin-left: 330px;
    padding: 30px;
    color: red;
}
.navBar .secondsec i{
    padding: 10px;
    color: red;
    font-size: 16px;
}
.navBar .secondsec i:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: black;
}
.redbackground {
  height: 800px;
  width: 100%;
    background-color: #dc4348;
  }
.coffeeMug div{
    height: 500px;
    width: 100%;
    align-content: center;
    background-color: #dc4348;
    background-image: url(./IMAGES/WhatsNewImage.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 80px;
  }
  
 .section2 h4{
        margin-left: 40px;
        margin-top: 80px;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 600;
 }

 .backToHomePage {
  height: 40px;
  width: 200px;
  background-color: white;
  color: crimson;
  border-radius: 20px;
  text-align: center;
  margin-left: 680px;
  margin-top: 20px;
  padding: 5px;
  margin-bottom: 20px;
 }
 .backToHomePage a{
    text-decoration: none;
    color: crimson;
 }

 .icons {
    width: 680px;
    margin-left: 42%;
    margin-top: 20px;
    padding: 30px;
  }
  
  #firsticon {
    font-size: 20px;
    padding: 10px;
    background-color: crimson;
    border-radius: 15px;
    color: white;
  }
  
  #firsticon:hover {
    transform: scale(1.1);
    transition: 0.5;
  }
  
  #secondicon {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(52, 52, 250);
    border-radius: 15px;
    color: white;
    margin-left: 15px;
  }
  
  #secondicon:hover {
    transform: scale(1.1);
    transition: 0.5;
  }
  
  #thirdicon {
    font-size: 20px;
    padding: 10px;
    background-color: red;
    border-radius: 15px;
    color: white;
    margin-left: 15px;
  }
  
  #thirdicon:hover {
    transform: scale(1.1);
    transition: 0.5;
  }
  
  #fourthicon {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(93, 132, 250);
    border-radius: 15px;
    color: white;
    margin-left: 15px;
  }
  
  #fourthicon:hover {
    transform: scale(1.1);
    transition: 0.5;
  }
  
  #fifthicon {
    font-size: 20px;
    padding: 10px;
    background-color: blue;
    border-radius: 15px;
    color: white;
    margin-left: 15px;
  }
  
  #fifthicon:hover {
    transform: scale(1.1);
    transition: 0.5;
  }
  
  .footer {
    height: 320px;
    display: flex;
    background-color: white;
    opacity: 1;
    justify-content: space-evenly;
    padding: 5px;
    color: grey;
    font-size: 18px;
    margin-top: 50px;
    line-height: 30px;
  }
  
  .copyright {
    color: grey;
    margin-left: 10px;
  }
